<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="swipe" href="/tabs/swipe">
      <ion-icon name="flame-outline"></ion-icon>
      <ion-label>Swipe</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="matches" href="/tabs/matches">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Matches</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>