<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Home</ion-item>
      <ion-item routerLink="/swipe">Swipe</ion-item>
      <ion-item routerLink="/matches">Matches</ion-item>
      <ion-item routerLink="/settings">Settings</ion-item>
      <ion-item (click)="logout.emit()">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>